{% assign t = site.data.translations[include.lang]["footer"] %}
<footer>
    <div class="container-fluid footer dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="col-sm-3 col-10 mx-auto mb-5 mb-sm-0">
                            <img width="120" src="/assets/images/hexad-logo-white.png" />
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-10 col-md mx-auto mt-5 mt-md-0">
                                    <ul>
                                        <li class="section-head">{{ t.about-us }}</li>
                                        <li>{{ t.our-experience }}</li>
                                        <li>{{ t.clients-and-partners }}</li>
                                        <li>{{ t.our-work }}</li>
                                    </ul>
                                </div>
                                <div class="col-10 col-md mx-auto mt-5 mt-md-0">
                                    <ul>
                                        <li class="section-head">{{ t.contact }}</li>
                                        <li>{{ t.get-in-touch }}</li>
                                        <li>{{ t.career-at-hexad }}</li>
                                    </ul>
                                </div>
                                <div class="col-10 col-md mx-auto mt-5 mt-md-0">
                                    <ul>
                                        <li class="section-head">{{ t.our-locasions }}</li>
                                        <li>Wolfsburg</li>
                                        <li>Berlin</li>
                                        <li>Frankfurt</li>
                                        <li>Ingolstadt</li>
                                        <li>Barcelona</li>
                                        <li>Bangalore</li>
                                    </ul>
                                </div>
                                <div class="col-10 col-md mx-auto mt-5 mt-md-0">
                                    <ul>
                                        <li class="section-head">{{ t.social }}</li>
                                        <li><a href="https://www.linkedin.com/company/hexad-gmbh/mycompany/" target="_blank">LinkedIn</a></li>
                                        <li><a href="https://www.instagram.com/hexad_GmbH/" target="_blank">Instagram</a></li>
                                        <li><a href="https://www.facebook.com/HexadGmbH" target="_blank">Facebook</a></li>
                                        <li>Email</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 pt-5">
                        <div class="col text-center footnote">
                            <p>© 2022 - HEXAD GMBH | {{ t.copyright }}</p>
                            <ul class="list-inline">
                                <li>{{ t.legal-notice }}</li>
                                <li>{{ t.privacy-policy }}</li>
                                <li>{{ t.cookie-policy }}</li>
                                <li>{{ t.complience }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>
