#build-together {
    // background: linear-gradient(-45deg, #98257F 2%, #FF5B5B 98%);
    background: linear-gradient(-45deg, #D98548 1.79%, #FF5B5B 98.21%);
    color: white;
    & h3 {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
    }
    & p {
        margin-top: 14px;
        font-size: 20px;
    }
}