#our-works{
    
    & h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        color: #131313;
        margin-bottom: 24px
    }

    & p {
        font-size: 20px;
        color: #393939;
    }
    & a.work-link {
        color: $black;
        font-size: 18px;
        padding-right: 80px;
        background-image: url('../../assets/images/link-arrow.png');
        background-repeat: no-repeat;
        background-position: right center;
        text-decoration: none;
        font-weight: 600;
    }
}